/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*--------Lista de alumnos registrados-------*/

table{
  border-collapse: collapse;
  font-size: 12pt;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
table th{
  text-align: center;
  padding: 10px;
  background: #1565C0;
  color: #FFF;
}
table tr:nth-child(odd){
  background: #CBCBCB;
}
table td{
    padding: 10px;
}
.link-edit{
  color: #1565C0;
}
.link-delete{
  color: red;
}