/*COlores para la validacion de datos*/
@charset "uft-8";


.formulario_label{
    cursor:pointer;
}
.formulario__input-error{ /*mensaje de error lo oculta*/
    font-size: 12px;
	margin-bottom: 0;
	display: none;
    /*display: none; /*oulta el mensaje de lo que debe contener la seccion de nombre curp,etc*/
}
.formulario__input-error-activo{ /*muestra el mensaje de error*/
    color: #781c44;
    display:block;

}

/* cambia de color los inputs a verde */
.input-field input:focus + label {
    color: #2f84bd !important;
  }
  
  .row .input-field input:focus {
    border-bottom: 1px solid #2f84bd !important;
    box-shadow: 0 1px 0 0 #2f84bd !important
  }

/* cambia de color los inputs a rojo */
.input-field-incorrecto input:focus + label {
    color: #781c44 !important;
  }
  
  .row .input-field-incorrecto input:focus {
    border-bottom: 1px solid #781c44 !important;
    box-shadow: 0 1px 0 0 #781c44 !important
  }

  /*para el mensaje de campos faltantes*/
  .formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
  }

  .formulario__mensaje-activo {
    display: block;
  }
  
  /*colores*/
  .colorGuinda1{
    background-color: #781c44;
  }
  .colorGuinda1:hover{
    background-color: #642424;
  }

  .colorEscom1{
    background-color: #1591cf;
  }
  .colorEscom1:hover{
    background-color: #095378;
  }

  .azul-btn {
    background-color: #1591cf;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

  .azul-btn:hover {
    background-color: #095378;
  }

  .guinda-btn {
    background-color: #781c44;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
  }

  .guinda-btn:hover {
    background-color: #642424;
  }
